docs/diagrams/out

# NetBeans Project
nbproject

# VSCode
.vscode/

# JetBrains IDEs
.idea/

# vim
*.swp
tags

build/
site/
coverage/
doxygen/
venv/

# make
CMakeFiles/
CMakeDoxyfile.in
*.cmake
!cmake/*.cmake
!tests/anj/standard_tests/standard_tests_base_config.cmake
!tests/init_header_check/run_check.cmake
CMakeCache.txt
Makefile
__pycache__/

libanj.a

/doc/sphinx/conf.py
/anj_config
/cxx_header_check

# Python venv
/venv/
dist/
tools/deploy_utils.egg-info/
