docs/diagrams/out

# NetBeans Project
nbproject

# VSCode
.vscode/

# JetBrains IDEs
.idea/

# vim
*.swp
tags

build/
site/
coverage/
doxygen/
venv/

# make
CMakeFiles/
CMakeDoxyfile.in
cmake_install.cmake
CMakeCache.txt
Makefile
__pycache__/

libanj.a

/doc/sphinx/conf.py
/doc/sphinx/source_api/api_generated
/anj_config
/cxx_header_check
mbedtls_install/
public/

# Python venv
/venv/
dist/
tools/deploy_utils.egg-info/
.mbedtls_cache

# pytest
.pytest_cache/
